:root {
	--size: 1.5rem;
	--size-font: 20px;
	--size-text: 1rem;
	--size-text--s1: 0.8rem;
	--color-text: black;
	--color-text--secondary: slategray;
	--color-background: cyan;
	--color-message-background: orange;
	--color-message-border: var(--color-text);

	font-size: var(--size-font);
	color: var(--color-text);
	background-color: var(--color-background);
}

/* all components */
ntfy-publish,
ntfy-subscribe {
	margin: calc(var(--size) / 2);
	display: flex;
	flex-direction: column;
}

/* ntfy-publish */
ntfy-publish {
}

ntfy-publish::part(header) {
	display: flex;
	flex-wrap: wrap;
}
ntfy-publish::part(form),
ntfy-publish::part(fieldset) {
	display: flex;
	flex-direction: column;
}
ntfy-publish::part(fieldset) {
	border: none;
	margin: 0;
	padding: 0;
}
ntfy-publish::part(body) {
	resize: vertical;
	min-height: calc(var(--size) * 2);
	font-size: 1rem;
}
ntfy-publish::part(topic)::before {
	content: "⇡";
	margin: calc(var(--size) / 3);
	font-size: var(--size-text--s1);
	font-weight: initial;
	color: var(--color-text--secondary);
}
ntfy-publish::part(topic) {
	margin: calc(var(--size) / 8);
	font-weight: bold;
}
ntfy-publish::part(error) {
	font-size: var(--size-text--s1);
	padding: calc(var(--size) / 4);
	font-style: italic;
}

ntfy-publish::part(submit) {
	padding: calc(var(--size) / 4);
}

/* ntfy-subscribe */
ntfy-subscribe {
}

ntfy-subscribe::part(header) {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

ntfy-subscribe::part(topic),
ntfy-subscribe::part(id),
ntfy-subscribe::part(open-time) {
	margin: calc(var(--size) / 8);
}
ntfy-subscribe::part(topic)::before {
	content: "⇣";
	margin: calc(var(--size) / 3);
	font-size: var(--size-text--s1);
	font-weight: initial;
	color: var(--color-text--secondary);
}
ntfy-subscribe::part(topic) {
	font-weight: bold;
}

ntfy-subscribe::part(id),
ntfy-subscribe::part(open-time) {
	font-size: var(--size-text--s1);
}

ntfy-subscribe::part(messages) {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* ntfy-message (and as children of ntfy-susbscribe) */
ntfy-subscribe::part(message) {
	background-color: var(--color-message-background);
	margin: calc(var(--size) / 8);
	border: 0.1rem solid var(--color-message-border);
}
ntfy-subscribe::part(message-header) {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
ntfy-subscribe::part(message-id),
ntfy-subscribe::part(message-time),
ntfy-subscribe::part(message-body),
ntfy-subscribe::part(message-title) {
	margin: calc(var(--size) / 4);
}
ntfy-subscribe::part(message-body) {
	white-space: pre-wrap;
	word-wrap: anywhere;
}
ntfy-subscribe::part(message-attachment) {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: calc(var(--size) / 4);
}
ntfy-subscribe::part(message-attachment-url) {
	max-height: 10rem;
}
ntfy-subscribe::part(message-attachment-name) {
	text-decoration: italic;
	margin: calc(var(--size) / 4);
}
ntfy-subscribe::part(message-actions)::before {
	content: "→";
	margin: calc(var(--size) / 3);
	font-size: var(--size-text--s1);
	font-weight: initial;
	color: var(--color-text--secondary);
}
ntfy-subscribe::part(message-actions) {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
ntfy-subscribe::part(message-action) {
	display: inline-flex;
	padding: calc(var(--size) / 3);
}
